<section class="about_container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio cum quidem, cupiditate dignissimos explicabo quaerat. Alias vero dolores earum debitis nihil maxime asperiores, repellendus dolorem facere ut voluptatum architecto qui fugiat magni exercitationem deserunt natus inventore veniam? Velit aliquid vel corrupti atque temporibus nemo suscipit harum. Doloremque repellendus esse, nobis qui ex dolor a molestiae?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque dicta rerum placeat vero commodi ducimus maiores neque nobis aliquam aut! Similique quos minus sapiente provident accusamus illo labore amet vitae quae quidem, quo placeat magni nemo necessitatibus ab? Repellat excepturi eos assumenda facere perspiciatis reprehenderit!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quibusdam corrupti alias eaque hic temporibus. Adipisci minus tenetur architecto! Laudantium ad voluptatem possimus sint officiis quisquam provident. A doloribus cumque consectetur distinctio! Eaque voluptatem laboriosam aliquam autem nostrum similique placeat quis enim aperiam repudiandae accusantium blanditiis earum accusamus vel necessitatibus eum, fugit rerum sequi, architecto, natus deserunt inventore nemo! Itaque quae porro laudantium esse dolore.
    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>